@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.dice {
  @include flex(center, space-around);
  background-color: $color-font-light;
  border-radius: $border-radius-s;
  height: $dice-size;
  padding: 0.5rem;
  width: $dice-size;
  &__col {
    @include flex-column(space-around);
    height: 100%;
  }
  &__dot {
    background-color: $color-font-med;
    border-radius: $border-radius-round;
    height: $dice-dot-size;
    width: $dice-dot-size;
    &--hidden {
      height: $dice-dot-size;
      width: $dice-dot-size;
    }
  }
}
