.board {
  display: grid;
  grid-template-columns: repeat(10, 4.5rem);
  position: relative;
  &__space {
    background-color: #eadbcb;
    width: 4.5rem;
    height: 4.5rem;
    &--odd {
      background-color: #f6f0ea;
    }
  }
  &__number {
    color: #585858;
    font-size: 0.5rem;
    font-weight: bold;
    padding: 0.25rem;
    width: fit-content;
  }
  &__token {
    background-color: #518a46;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.125rem 0.25rem;
    text-align: center;
  }
  &__ladder {
    border-bottom: 2px solid #3e4f73;
    border-radius: 50px;
    position: absolute;
    transform-origin: bottom left;
  }
  &__snake {
    border-bottom: 3px solid #5bb7de;
    border-radius: 50px;
    position: absolute;
    transform-origin: bottom left;
  }
}
