@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.board {
  display: grid;
  grid-template-columns: repeat(10, 4.5rem);
  position: relative;
  &__space {
    @include flex;
    background-color: $color-board-primary;
    width: $board-space-l;
    height: $board-space-l;
    position: relative;
    &--odd {
      background-color: $color-board-secondary;
    }
  }
  &__number {
    color: $color-font-med;
    font-size: 0.5rem;
    font-weight: bold;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: fit-content;
  }
  &__token-container {
    @include flex;
    border-radius: $border-radius-round;
    margin: 0.125rem 0.25rem;
    padding: 0.25rem;
    text-align: center;
    width: fit-content;
    &--option-1 {
      background-color: $color-highlight-1;
    }
    &--option-2 {
      background-color: $color-highlight-2;
    }
    &--option-3 {
      background-color: $color-highlight-3;
    }
    &--option-4 {
      background-color: $color-highlight-4;
    }
  }
  &__token {
    font-size: 0.75rem;
  }
  &__ladder {
    position: absolute;
    transform-origin: bottom left;
  }
  &__snake {
    position: absolute;
    transform-origin: bottom left;
    width: 20px;
  }
}
