.board {
  display: grid;
  grid-template-columns: repeat(10, 4.5rem);
  &__space {
    background-color: black;
    width: 4.5rem;
    height: 4.5rem;
    &--odd {
      background-color: rgb(104, 104, 104);
    }
  }
  &__number {
    font-size: 0.5rem;
    font-weight: bold;
    padding: 0.25rem;
    width: fit-content;
  }
  &__token {
    background-color: rgb(45, 31, 141);
    border-radius: 50px;
    font-size: 0.75rem;
    margin: 0.125rem 0.25rem;
    text-align: center;
  }
}
