@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.players {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }
  &__item {
    @include flex(center, space-between);
    gap: 0.25rem;
  }
  &__name-container {
    @include flex;
  }
  &__name {
    font-weight: bold;
    padding-left: 0.5rem;
  }
  &__active-tag {
    background-color: $color-highlight-1;
    border-radius: $border-radius-round;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.125rem 0.75rem;
  }
  &__token-container {
    @include flex;
    border-radius: $border-radius-round;
    padding: 0.25rem;
    &--option-1 {
      background-color: $color-highlight-1;
    }
    &--option-2 {
      background-color: $color-highlight-2;
    }
    &--option-3 {
      background-color: $color-highlight-3;
    }
    &--option-4 {
      background-color: $color-highlight-4;
    }
  }
}
