@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/global" as *;

.app {
  @include flex;
  background-image: url("./assets/setup-bg.jpg");
  object-fit: cover;
  gap: 2rem;
  min-height: 100vh;
  &__actions {
    @include flex-column(space-between);
    gap: 2rem;
    height: calc($board-space-l * 10);
    min-width: 15rem;
  }
  &__actions-primary {
    @include flex-column(space-between);
    gap: 2rem;
    width: 100%;
  }
  &__winner {
    @include light-background;
  }
  &__actions-secondary {
    display: flex;
    gap: 1rem;
  }
  &__message {
    @include light-background;
  }
}
